POSTGRES_USER=visite
POSTGRES_PASSWORD=MotDePasseSecret
POSTGRES_DB=visite_ensmr

JWT_SECRET=remplacerParUneLongueChainAléatoire

FRONTEND_URL=http://IP_DU_SERVEUR

EMAIL_USER=service.stage@enim.ac.ma
EMAIL_PASSWORD=
